@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BBD.Models.tb_Sys_UserInfo
<style>
    .tree-file {
        background: none;
    }
</style>
<form id="dialogForm" method="post">
    <input name="Uid" type="hidden" value="@Model.Uid" />
    <table style="width: 100%; text-align: center">
        <tr>
            <td>
                <label for="uLoginName">
                    用户名:
                </label>
            </td>
            <td>
                <input class="easyui-textbox" type="text" name="uLoginName" data-options="required:true,missingMessage:'用户名不能为空',validType:'LoginName'" value="@Model.uLoginName" />
            </td>
            <td>
                <label for="uName">
                    真实姓名:
                </label>
            </td>
            <td>
                @*<input class="easyui-textbox" type="text" name="uName" data-options="required:true,missingMessage:'真实姓名不能为空',validType:['chinese','length[2,4]']" value="@Model.uName" />*@
                <input class="easyui-textbox" type="text" name="uName" data-options="required:true,missingMessage:'真实姓名不能为空',validType:'length[2,12]'" value="@Model.uName" />
            </td>
        </tr>
        @{

            if (@Model.Uid > 0) { }
            else
            {
                <tr>
                    <td>
                        <label for="Password">
                            密码:
                        </label>
                    </td>
                    <td>
                        <input id="password1" class="easyui-textbox" type="password" name="uPwd" data-options="required:true,missingMessage:'密码不能为空',validType:'length[6,30]'" value="@Model.uPwd" />
                    </td>
                    <td>
                        <label for="PasswordTwo">
                            重复密码:
                        </label>
                    </td>
                    <td>
                        <input id="password2" class="easyui-textbox" type="password" name="PasswordTwo" data-options="required:true,missingMessage:'重复密码不能为空',validType:'length[6,30]'" value="@Model.uPwd" />
                    </td>
                </tr>
            }

        }
        <tr>
            <td>
                <label for="uGender">
                    性别:
                </label>
            </td>
            <td>
                @{
                    if (@Model.uGender == "男")
                    {
                        <input name="uGender" type="radio" value="男" checked onclick="selGender(this)" /><text>男</text>
                        <input name="uGender" type="radio" value="女" onclick="selGender(this)" /><text>女</text>
                    }
                    else
                    {
                        <input name="uGender" type="radio" value="男" onclick="selGender(this)" /><text>男</text>
                        <input name="uGender" type="radio" value="女" onclick="selGender(this)" checked /><text>女</text>
                    }
                }
                <input type="hidden" name="uGender" id="uGender" value="@Model.uGender" />
            </td>
            <td>
                <label for="uDepid">
                    所在部门:
                </label>
            </td>
            <td>
                <input id="appDepartment" class="easyui-textbox" type="text" name="uDepid" data-options="required:true,missingMessage:'部门不能为空',validType:'checkDept'" value="@Model.uDepid" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="uMobile">
                    手机:
                </label>
            </td>
            <td>
                <input class="easyui-textbox" type="text" name="uMobile" data-options="required:true,missingMessage:'手机不能为空',validType:'phone'" value="@Model.uMobile" />
            </td>
            <td>
                <label for="uPost">
                    职位:
                </label>
            </td>
            <td>
                <input class="easyui-textbox" type="text" name="uPost" data-options="required:true,missingMessage:'职位不能为空',validType:'length[2,6]'" value="@Model.uPost" maxlength="6" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="CityId">
                    所属城市:
                </label>
            </td>
            <td>
                <input id="CityId" class="easyui-textbox" type="text" name="CityId" data-options="required:true,validType:'length[2,5]',missingMessage:'所属城市不能为空'" value="@Model.CityId" />
            </td>
            <td>
                <label for="uRemark">
                    人员描述:
                </label>
            </td>
            <td>
                <input class="easyui-textbox" name="uRemark" data-options="multiline:true,validType:['unnormal','length[0,50]']" style="height:60px" value="@Model.uRemark" />
            </td>
        </tr>
        @*<tr>
                <td>
                    <label for="QQ">
                        QQ:
                    </label>
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="QQ" data-options="required:true,missingMessage:'QQ不能为空',validType:'qq'" value="@Model.QQ" />
                </td>
            </tr>*@
        @*<tr>
                <td>
                    <label for="HeadImg">
                        头像:
                    </label>
                </td>
                <td>
                    <input id="headImg" type="hidden" name="HeadImg" value="@Model.HeadImg" />
                    <div id="uploadFile" style="text-align:left;padding-left:20px">
                    </div>
                </td>
            </tr>*@
    </table>
</form>
<link href="~/Scripts/WebUploader/webuploader.css" rel="stylesheet" />
<script src="~/Scripts/Easyui/easyui-validate-extend.js"></script>
<script src="~/Scripts/WebUploader/importFile.js"></script>
<script src="~/Scripts/WebUploader/webuploader.min.js"></script>
<script src="~/Scripts/PortalCommon.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        InitDepartment();
        InitCity();
    });


    //绑定部门数据
    function InitDepartment() {
        var departUrl = "/Department/GetAppDeparmtTree";
        $("#appDepartment").combotree({
            url: departUrl
        });
    }

    function InitCity() {
        var cityUrl = "/Dictionary/GetAppCityTree";
        $("#CityId").combobox({
            url: cityUrl,
            valueField: 'id',
            textField: 'text',
            editable: false,
            onLoadSuccess: function () {
                var data = $('#CityId').combobox('getData');
                var uid=$("#Uid").val();
                if (data.length > 0 && uid==null) {
                    $('#CityId').combobox('select', data[0].id);
                }
            }
        });
    }

    function selGender(obj) {
        $("#uGender").val($(obj).val());
    }


    @*$("#uploadFile").uploadFile({
        title: "",
        width: 80, //生成缩略图的文件大小
        height: 80, //生成缩略图的文件大小
        defaultFileSrc: "@Model.HeadImg",
        singleFile: true,
        uploadSucess: function (file, response, uploader) {

            $("#headImg").val(response.filePath);
        },
        deleteFile: function (fileName, filePath) {
            $("#headImg").val("");
        }
    });*@

</script>